// overall styles for contents
$font-monospace: Monaco, Consolas, Courier New, monospace;
.mce-content {
  font-size: 19px;
  color: black;
  p {
    line-height: 1.25;
  }
  /// from quill styles
  // align items
  .ql-align-right {
    text-align: right;
  }
  .ql-align-center {
    text-align: center;
  }
  .ql-align-justify {
    text-align: justify;
  }
  .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
  }
  
  .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
  }
  .ql-font-monospace {
    font-family: $font-monospace;
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
  }

  pre.ql-syntax {
    * {
      font-family: $font-monospace;
    }
    padding: 10px 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f0f5ff99;
    font-size: 16px;
  }

  ul > li[data-checked=true]::before {
    content: '\2611';
  }
  ul > li[data-checked=false]::before {
    content: '\2610';
  }
  ul > li,
  ol > li {
    list-style-type: none;
  }
  ul > li:before {
    content: '•';
    margin-right: 1em;
  }
  ol {
    counter-reset: mylist;
  }
   
  ol > li:before {
    counter-increment: mylist;
    content: counter(mylist, decimal) '. ';
  }
  
  ol ol > li:before {
    content: counter(mylist, lower-alpha) '. ';
  }

  ol ol ol > li:before {
    content: counter(mylist, lower-roman) '. ';
  }
  
  ol ol ol ol > li:before {
      content: counter(mylist, decimal) '. ';
  }

  /* ql indent */
  .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
  }

  .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
  }

  .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
  }

  .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
  }

  .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
  }

  .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
  }

  .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
  }

  .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
  }

  .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
  }

  .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
  }

  .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
  }

  .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
  }

  .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
  }

  .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
  }

  .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
  }

  .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
  }

  .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
  }

  .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
  }
}